$ff: 'Open Sans', sans-serif;
$ff-accent: 'Poppins', sans-serif;
$fw-400: 400;
$fw-600: 600;
$clr-700: hsl(257, 40%, 49%);
$clr-500: hsl(300, 69%, 71%);
$clr-100: #fff;
$clr-shadow: rgba(0, 0, 0, 30%);

$desktop-min-width: 40rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $ff;
  font-weight: $fw-400;
  line-height: 1.5;
  color: $clr-100;
  background: url('../images/bg-mobile.svg'), $clr-700;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $desktop-min-width) {
    background: url('../images/bg-desktop.svg'), $clr-700;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $ff-accent;
  font-weight: $fw-600;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-min-width) {
    flex-direction: row;
    gap: 2em;
    .hero--img {
      width: 60%;
    }
    .hero--message {
      width: 40%;
    }
  }
}

.nav {
  margin: 0 auto;
  padding: 1em 0;
}

.logo {
  max-width: 9em;
}

.hero {
  text-align: center;
}

.hero--img {
  max-width: 100%;
  object-fit: contain;
}

.hero--message {
  @media (min-width: $desktop-min-width) {
    text-align: left;
  }
}

.text {
  padding-bottom: 1em;
}

.socials {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;

  @media (min-width: $desktop-min-width) {
    margin-left: auto;
    justify-content: flex-end;
  }
}

.social-icon {
  margin: 0;
  padding: 0;
  width: 1.5rem;
}

.social-icon:hover,
.social-icon:focus {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(33%) sepia(80%) saturate(5738%)
    hue-rotate(311deg) brightness(90%) contrast(96%);
}

.btn {
  font-weight: $fw-600;
  color: $clr-700;
  width: 80%;
  max-width: 12rem;
  padding: 1em;
  background-color: $clr-100;
  border-radius: 100vh;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  box-shadow: 0.5rem 0.5rem 0.5rem $clr-shadow;
}

.btn:hover,
.btn:focus {
  background-color: $clr-500;
  color: $clr-100;
  box-shadow: 0.5rem 0.5rem 2rem $clr-shadow;
}
